**Representation**

- string representation with quotes
- list representation with square brackets []

In [2]:
l1=[1,2,3,4]
l1

[1, 2, 3, 4]

In [3]:
type(l1)

list

In [8]:
l2=['A','B','C','D']
l2

['A', 'B', 'C', 'D']

In [9]:
l3=['A','B','C','D',1,2,3,4]
l3

['A', 'B', 'C', 'D', 1, 2, 3, 4]

In [10]:
l4=[1,2,3,'Apple','Ball','Cat',True,False]
l4

[1, 2, 3, 'Apple', 'Ball', 'Cat', True, False]

In [11]:
name='naresh it'
l5=[name]
l5

['naresh it']

In [12]:
l6=[100,100,100]
l6

[100, 100, 100]

In [14]:
l7=[100,'Apple',['A',2]]
l7

[100, 'Apple', ['A', 2]]

- list are array of elements
- list elements are heterogeneous all the data types we can represent in a list
- list elements are allowed duplicates
- list in list is possible
- variable assignment also possible in the list

In [18]:
l1=[1,2,3,4]
len(l1)

4

In [19]:
l1=[1,2,3,4]
max(l1)

4

In [20]:
l1=[1,2,3,4]
min(l1)

1

In [23]:
l1=[1,4,5,8,6,7,9]
sorted(l1)

[1, 4, 5, 6, 7, 8, 9]

In [24]:
l1=['apple','mahek','jogi','ball','zebra']
sorted(l1)

['apple', 'ball', 'jogi', 'mahek', 'zebra']

In [28]:
list1=['Apple',1,['cherry','banana']]
len(list1)

3

In [29]:
l1=[1,2,3,4,A,B]
max(l1)# ERROR: SAME DATATYPE ONLY COMPARABLE

NameError: name 'A' is not defined

**index**

In [31]:
l4=[1,2,3,'Apple','Ball','Cat',True,False]
l4[3],l4[-5]

('Apple', 'Apple')

In [33]:
l1=[1,[2]]
l1[0]

1

In [34]:
l1=[1,[2]]
new=l1[1]  
new[0] # how????: new=l1[1]=2 then new=2 then new[0]=2

2

In [1]:
l1=[1,[2,'A']]
l1=[1][1]
# 'A' is presented at index 1
# so we given l1[1] : [2,'A'] it is also a list
# The list has two elements
# 'A' at 1st index
# l1[1][1]

IndexError: list index out of range

In [3]:
# How to get 'A'
# 1 [2,'A']
# 0 1
l1=[1,[2,'A']]
# Q1) How many elements are there in a list: 2
# Q2) 'A' is at which index : 
# In python index start at 0
# 0 and 1
l1[1] # [2,'A']
# Q3) l1[1] output is which type list
# Q4) 'A' 1
l1[1][1]

'A'

In [8]:
l1=[1,[2,['A','B']]] #find b
l1[1][1][1]

'B'

In [13]:
l1=[1,2,[3,[4,[5,['Apple']]]]] # find apple
l1[2][1][1][1]

['Apple']

In [14]:
list1=['Apple',
 1,
 'Solapur',
 ['cherry','papaya',70,[123,'Banana'],
 'tomato'],
 'python'] #get banana
list1[3][3][1]

'Banana'

In [16]:
list1=['Apple',1,'Solapur',['cherry','papaya',70,[123,'Banana'],'tomato'],'python'] #get banana
list1[3][3][1]

'Banana'

In [36]:
list1=[[[[[[[1,'Cherry']]]]]]]
list1[0][0][0][0][0][0][1]

'Cherry'

In [34]:
list1=['MH',['Nagpur',['Orange',['likes',['king'],['shivaji',['Son',['shmbaji']]]]]]]
len(list1)
list1[1][1][1][2][1][1]

['shmbaji']

In [37]:
l4=[1,2,3,'A','B','C',True,False]
#-8 -7 -6 -5 -4 -3  -2     -1
#1 2 3 'A' 'B' 'C' True False
#0 1 2  3   4   5    6     7
for i in range(len(l4)):
 print(l4[i]) # it will give content

1
2
3
A
B
C
True
False

In [39]:
l4=[1,2,3,'A','B','C',True,False]

for i in range(len(l4)):
 print(i) # i will give index mumber

0
1
2
3
4
5
6
7

In [40]:
l4=[1,2,3,'A','B','C',True,False]

for i in range(len(l4)):
 print(f"The positive index of {l4[i]} is {i}")

The positive index of 1 is 0
The positive index of 2 is 1
The positive index of 3 is 2
The positive index of A is 3
The positive index of B is 4
The positive index of C is 5
The positive index of True is 6
The positive index of False is 7

In [41]:
l4=[1,2,3,'A','B','C',True,False]

for i in range(len(l4)):
 print(f"The negative index of {l4[i]} is {i-len(l4)}")

The negative index of 1 is -8
The negative index of 2 is -7
The negative index of 3 is -6
The negative index of A is -5
The negative index of B is -4
The negative index of C is -3
The negative index of True is -2
The negative index of False is -1

In [42]:
l4=[1,2,3,'A','B','C',True,False]

for i in l4:
 print(f"The positive index of {l4[i]} is {i}")

The positive index of 2 is 1
The positive index of 3 is 2
The positive index of A is 3

TypeError: list indices must be integers or slices, not str

In [43]:
# We want to change 1 with 100
l=[1,2,3]
l[0]=100
l
#Hi Sir - how the string is immutable please explain
s='Naresh'
# We want to change 'h' 'I'
s[5]='I'
# TypeError: 'str' object does not support item assignment
# Not able
# that is we can can change only numbers not string or characters

TypeError: 'str' object does not support item assignment

In [45]:
l1=[1,2,3,4]
l1[3]=500
l1

[1, 2, 3, 500]

**List methods**

In [53]:
# string dir('')
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**append**

- adding elements in a list at last index
- append method is very important
- most of the time we will use append in the real time
- when you add the value the original list will be overwrite

In [54]:
l=['Apple','Ball','Cat']
l

['Apple', 'Ball', 'Cat']

In [55]:
l[3]='Mahek'

IndexError: list assignment index out of range

In [56]:
l=['Apple','Ball','Cat']
l

['Apple', 'Ball', 'Cat']

In [61]:
l.append('Doll')
l

['Apple', 'Ball', 'Cat', 'Doll', 'Doll', 'Doll', 'Doll']

In [62]:
l1=[1,2,3,4]
l1.append(100)
l1

[1, 2, 3, 4, 100]

In [63]:
l2=[]
l2.append(10)
l2.append(20)
l2.append('apple')
l2.append(['A',1])
l2.append(True)
l2

[10, 20, 'apple', ['A', 1], True]

In [65]:
# list.append() takes exactly one argument how can we add more in one statement si
l1.append(100,200,300) # Error

TypeError: list.append() takes exactly one argument (3 given)

In [67]:
square_list=[]
for i in range(1,6):
    square_list.append(i*i)
# print===== square_list.append
square_list

[1, 4, 9, 16, 25]

In [73]:
s='hai hai hai'
id_list=[]
for i in range (len(s)):
    if s[i]=='a':
        id_list.append(i)
id_list

[1, 5, 9]

In [74]:
s='hai hai hai'
id_list=[]
for i in range (len(s)):
    if s[i]=='a':
        id_list.append(i)
id_list,sum(id_list)

([1, 5, 9], 15)

In [75]:
summ=0
s='hai hai hai'
for i in range(len(s)):
    if s[i]=='a':
        summ=summ+i
summ

15

In [83]:
# Q2)l1=['Hyd','Mumbai','Chennai','blr']
# ans=['Mumbai','Chennai'] 
# we want lements which are len of element >4
l1=['Hyd','Mumbai','Chennai','blr']
ans=[]
for i in l1:
    if len(i)>4:
        ans.append(i)
ans

['Mumbai', 'Chennai']

In [86]:
# Q3)l1=['Hyd','Mum#bai','Chen#nai','blr']
# ans=['Mum#bai'',Chen#nai'] 
# we want lements which are having '#'

l1=['Hyd','Mum#bai','Chen#nai','blr']
ans=[]
for i in l1:
    if '#' in i:
        ans.append(i)
ans

['Mum#bai', 'Chen#nai']

In [ ]:
# Q4)l1=['hyd','mumbai','chennai','blr']
# ans= ['Hyd','Mumbai','Chennai','Blr']
# we want lements which are len of element >4
# Q5)l1=['Hyd','Mumbai','chennai','blr']
# ans= ['Hyd','Mumbai']
# we want lements which are having first letter capital
# Q6)l1=['Hyd','Mum#bai','Chen#nai','blr']
# ans_#=['Mum#bai'',Chen#nai'] 
# ans_without_#=['Hyd'','blr'] 
# we want lements which are having '#'
# Q7) ask the user get 5 numbers randomly
# even_list and odd_list
# even numbers should append at even_list
# odd number should append at odd_list
# Q8) str='hello hai how are you'
# Maximum len of word using split and max method
# sum of all the indexes of the maximum len of word using append
# Q9) str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
# Firstname=[] second name=[] cname =[]
# append first name should be in first name list
# second name shoul be in second name list
# thirs name will be in thirs name list
# 10 ) 
# You have two lists
# qns=['What is capital of India',
 'Who is PM of india',
 'Who is ICT ODI captian']
# ans = ['Delhi','Modi','Rohit']
# For i in qns:
# print(i)
# ans= delhi
# index should match
# delhi modi 
# marks= marks+1
# print the total marks

In [94]:
# Q5)l1=['Hyd','Mumbai','chennai','blr']
# ans= ['Hyd','Mumbai']
# we want lements which are having first letter capital

l1=['Hyd','Mumbai','chennai','blr']
ans=[]
for i in l1:
    ans.append(i.capitalize())
ans

['Hyd', 'Mumbai', 'Chennai', 'Blr']

In [103]:
l1=['Hyd','Mumbai','chennai','blr']
ans=[]
for i in l1:
    if ord(i[0])>40 and ord(i[0])<90:
       ans.append(i)
ans

['Hyd', 'Mumbai']

In [110]:
# Q6)l1=['Hyd','Mum#bai','Chen#nai','blr']
# ans_#=['Mum#bai'',Chen#nai'] 
# ans_without_#=['Hyd'','blr'] 

l1=['Hyd','Mum#bai','Chen#nai','blr']
ans=[]
ans1=[]
for i in l1:
    if '#' in i:
        ans.append(i)
    else:
        ans1.append(i)
ans,ans1

(['Mum#bai', 'Chen#nai'], ['Hyd', 'blr'])

In [149]:
# Q8) str='hello hai how are you'
# Maximum len of word using split and max method
# sum of all the indexes of the maximum len of word using appe

s='hello hai how are you'
words=s.split()
len_words=[]
for i in words:
    x=len(i)
    len_words.append(x)
max_len=max(len_words)
for i in words:
    if len(i)==max_len:
        print(i)

hello

In [124]:
# Q7) ask the user get 5 numbers randomly
# even_list and odd_list
# even numbers should append at even_list
# odd number should append at odd_list

import random
l1=random.randint(1,10)
even=[]
odd=[]
for i in range(1,6):
 if i%2==0:
    even.append(i)
 else:
     odd.append(i)
even,odd

([2, 4], [1, 3, 5])

In [135]:
s='hello im learning python'
# make everyword capitalize
s.title()

'Hello Im Learning Python'

In [53]:
# Q9) str1='virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com'
# Firstname=[] second name=[] cname =[]
# append first name should be in first name list
# second name shoul be in second name list
# thirs name will be in thirs name list
s=['virat.kohli@rcb.com, Rohit.sharma@mi.co, KL.Rahul@lucknow.com']
email=s[0].split(',')

Firstname=[]
secondname=[]
cname =[]
for i in email:
    i1=i.index('.')
    i2=i.index('@')
    i3=i.index('.',i1+1)
    Firstname.append(i[:i1])
    secondname.append(i[i1+1:i2])
    cname.append(i[i2+1:i3])
    
Firstname,secondname,cname

(['virat', ' Rohit', ' KL'],
 ['kohli', 'sharma', 'Rahul'],
 ['rcb', 'mi', 'lucknow'])

**Split-join**

- split will apply for strings, to divide the words or characters
- when we split the elements will be stored in a list format
-  join is used to combine the elements of a list in a string format
- **split-strings**
- **join-list**

In [139]:
s='hello im learning python'
words=s.split()
words

['hello', 'im', 'learning', 'python']

In [138]:
s='hello im learning python'
words=s.split()
new_words=[]
for i in words:
    new_words.append(i.capitalize())
' '.join(new_words)

'Hello Im Learning Python'

In [65]:
# 10 ) 
# You have two lists
# qns=['What is capital of India',3'Who is PM of india',
 #'Who is ICT ODI captian']
# ans = ['Delhi','Modi','Rohit']
# For i in qns:
# print(i)
# ans= delhi
# index should match
# delhi modi 
# marks= marks+1
# print the total marks
qns_list=['What is capital of India',
 'Who is PM of india',
 'Who is ICT ODI captian']
ans_list= ['Delhi','Modi','Rohit']
marks=0
for i in range(len(qns_list)):
    ans=input(qns_list[i])
    if ans.lower()==ans_list[i].lower():
     marks=marks+1
marks

What is capital of India delhi
Who is PM of india modi
Who is ICT ODI captian virat

2

In [49]:
l1=['A','B',3,4]
l1[1]='CAT'
l1

['A', 'CAT', 3, 4]

In [52]:
l4=[1,2,3,'Apple','Ball','Cat']
l4[4]=200
l4

[1, 2, 3, 'Apple', 200, 'Cat']

**copy**

In [66]:
l1=[1,2,3,100,200,80,70,60]
l2=l1.copy()
l2

[1, 2, 3, 100, 200, 80, 70, 60]

In [67]:
l1,l2

([1, 2, 3, 100, 200, 80, 70, 60], [1, 2, 3, 100, 200, 80, 70, 60])

**clear**

In [68]:
l1.clear()
l1

[]

In [69]:
l2

[1, 2, 3, 100, 200, 80, 70, 60]

In [70]:
l1,l2

([], [1, 2, 3, 100, 200, 80, 70, 60])

In [73]:
print(type([]))

<class 'list'>

**append-extend-concatenation-insert**

In [75]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l1.append(l2)
print(l1)
print(l2)

# l1 list is overwrite with l2 values

[1, 2, 3, 4, ['A', 'B', 'C', 'D']]
['A', 'B', 'C', 'D']

In [78]:
l1=[1,2,3,4]
l2=['A','B','C','D']
l2.extend(l1)
print(l1)
print(l2)

[1, 2, 3, 4]
['A', 'B', 'C', 'D', 1, 2, 3, 4]

**NOTE**

- append add content with brackets
- extend add content without bracket that is they extend the contents

In [79]:
l1=[1,2,3,4]
l2=['A','B','C','D']
print(l1+l2)
print(l2+l1)
print(l1)
print(l2)

[1, 2, 3, 4, 'A', 'B', 'C', 'D']
['A', 'B', 'C', 'D', 1, 2, 3, 4]
[1, 2, 3, 4]
['A', 'B', 'C', 'D']

In [80]:
l1=[1,2,3,4]
l1.extend('apple')
l1

[1, 2, 3, 4, 'a', 'p', 'p', 'l', 'e']

In [81]:
l1=[1,2,3,4]
l1.append('apple')
l1

[1, 2, 3, 4, 'apple']

In [82]:
l1=[1,2,3,4]
l2=['apple']
l1+l2

[1, 2, 3, 4, 'apple']

- append just append the value with base data type
-- extend is concatenate the value, and the list will be overwrite with new values
- extend can take any iterable format type i.e. string,list,tuple
- extend and concatenation both are same
- the list will not overwrite in concatenation

**index**

- same like string only

In [88]:
l1=[1,2,3,'Apple',10,20,'Apple',40]
i1=l1.index('Apple')
i1
i2=l1.index('Apple',i1+1)
i2,i1

(6, 3)

In [89]:
l1.index('Apple',l1.index('Apple')+1)

6

In [91]:
l1=[1, 2, 3,'Apple', 10, 20, 'Apple', 40]
#   0  1  2   3       4   5     6    7
i1=l1.index('Apple') # Case-1
i2=l1.index('Apple',i1+1) # Case-2
i3=l1.index('Apple',2,5) # Case-3
print(i3)
# If i want second 'Apple'
# from which index my eyes will start

3

- case-1: Directly get the index
- case-2: Next value index, by providing start
- case-3: Between the values
- Copy/clear
- Append/Extend/Concatenation
- Index
- There is no find in list
- count is exactly same as strings

**INsert**

- insert will insert element based on the index
- append will add element at last only

In [92]:
l1=[1, 2, 3,'Apple', 10, 20, 'Apple', 40]
#   0 1   2   3      4   5     6     7
i1=l1.index('Apple') # Apple index = 3
l1.insert(i1,'Banana') # insert banana before index i1(3)
l1

[1, 2, 3, 'Banana', 'Apple', 10, 20, 'Apple', 40]

In [93]:
l1=[1, 2, 3,'Apple', 10, 20, 'Apple', 40]
#   0 1   2   3      4   5     6     7
i1=l1.index('Apple') # Apple index = 3
i2=l1.index('Apple',i1+1) 
l1.insert(i2,'Banana') # insert banana before index i1(3)
l1

[1, 2, 3, 'Apple', 10, 20, 'Banana', 'Apple', 40]

In [95]:
l1=[1, 2, 3,'Apple', 10, 20, 'Apple', 40]
# Insert 'Cherry' before 40 
# You need to find index of the 40
i1=l1.index(40)
l1.insert(i1,'cherry')
l1

[1, 2, 3, 'Apple', 10, 20, 'Apple', 'cherry', 40]

In [96]:
#If we want to add cherry before 2nd apple then how ?
l1=[1, 2, 3,'Apple', 10, 20, 'Apple', 40]
# step-1: we want to find the index of 2nd 'APPLE'
# Step-2: How to find the second 'Apple' index
i1=l1.index('Apple')
i2=l1.index('Apple',i1+1)
l1.insert(6,'Cherry')
l1

[1, 2, 3, 'Apple', 10, 20, 'Cherry', 'Apple', 40]

**pop-remove-del**
- pop will remove the item
- pop also display the item which is removing
- pop will take one argument:index
- pop will remove the item based on index
- if you dont provide any index, by default it will remove last value
- because the default index value is -1

In [99]:
l1=[1, 2, 3,'Apple', 10, 20, 'Apple', 40]
l1.pop()
l1

[1, 2, 3, 'Apple', 10, 20, 'Apple']

In [100]:
l1=[1, 2, 3,'Apple', 10, 20, 'Apple', 40]
l1.pop()

40

In [101]:
l1=[1, 2, 3,'Apple', 10, 20, 'Apple', 40]
l1.pop(3)
l1

[1, 2, 3, 10, 20, 'Apple', 40]

In [102]:
l1=[1, 2, 3,'Apple', 10, 20, 'Apple', 40]
l1.pop(3)

'Apple'

In [104]:
l1=[1, 2, 3,'Apple', 10, 20, 'Apple', 40]
i1=l1.index('Apple')
i2=l1.index('Apple',i1+1)
l1.pop(i2)
l1

[1, 2, 3, 'Apple', 10, 20, 40]

In [105]:
l1=[1, 2, 3,'Apple', 10, 20, 'Apple', 40]
i1=l1.index('Apple') #3
l1.pop(i1) # l1=[1, 2, 3,10, 20, 'Apple', 40]
###############################################################
i1=l1.index('Apple')
l1.pop(i1)
l1

[1, 2, 3, 10, 20, 40]

In [10]:
s='hai apple how are you apple thank you apple'
list1=s.split()
count=list1.count('apple')
for i in range(count):
    i1=list1.index('apple')
    list1.pop(i1)
' '.join(list1)

'hai how are you thank you'

**del**

In [15]:
l1=[1, 2, 3,'Apple', 10, 20, 'Apple', 40]
del(l1[3])
l1

[1, 2, 3, 10, 20, 'Apple', 40]

In [13]:
l=[1,2,3,4,5]
l.insert(3)

2

In [ ]:
extending concatenation imp interview que

In [18]:
l=[1,2,3,4]
l.extend('apple')
l

[1, 2, 3, 4, 'a', 'p', 'p', 'l', 'e']

In [21]:
l=[1,2,3,4]
l.extend(['apple'])
l

[1, 2, 3, 4, 'apple']

In [22]:
l=[1,2,3,4]
l.extend('[apple]')
l

[1, 2, 3, 4, '[', 'a', 'p', 'p', 'l', 'e', ']']

In [27]:
l=[1,2,3,4]
l.insert(2,'apple')
l

[1, 2, 'apple', 3, 4]

In [ ]:
l.pop()

In [2]:
l1=[1,2,3,'apple']
i1=l1.index('apple')
l1.insert(i1,'cherry')
l1

[1, 2, 3, 'cherry', 'apple']

In [19]:
s='hai apple how are you apple im good apple thank you apple'
i1=s.index('apple')
s.pop(i1)
s

AttributeError: 'str' object has no attribute 'pop'

In [2]:
l1=['hyd','mumbai','chennai','blr']
l1.upper
l1

AttributeError: 'list' object has no attribute 'upper'

In [4]:
l1=['hyd','mumbai','chennai','blr']
index_list[]
for i in l1:
    index_list.append(i.index())
index_list

SyntaxError: invalid syntax (3038473680.py, line 2)

In [5]:
l1=['hyd','mumbai','chennai','blr']
index_list=[i.index() for in l1]
index_list

SyntaxError: invalid syntax (3259298451.py, line 2)

In [ ]:
op_list